<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-04-24T11:22:06Z</date>
	<key>WorkspacePath</key>
	<string>/Users/sunnypei/Desktop/佛性人生/佛性人生.xcworkspace</string>
</dict>
</plist>
